.page {
  // .page__hero
  &__hero {
    padding-top: rem(240);
    padding-bottom: rem(144);
    @media (max-width: $tablet) {
      padding-top: rem(160);
      padding-bottom: rem(60);
    }
    @media (max-width: $mobile) {
      padding-top: rem(100);
      padding-bottom: rem(50);
    }
  }
  // .page__services
  &__services {
    padding-top: rem(114);
    padding-bottom: rem(184);
    @media (max-width: $tablet) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
    @media (max-width: $mobile) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }
  // .page__portfolio
  &__portfolio {
    padding-top: rem(104);
    padding-bottom: rem(173);
    @media (max-width: $tablet) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
    @media (max-width: $mobile) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }
  // .page__experience
  &__experience {
    padding-top: rem(104);
    padding-bottom: rem(126);
    @media (max-width: $tablet) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
    @media (max-width: $mobile) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }
  // .page__blog
  &__blog {
    padding-top: rem(144);
    padding-bottom: rem(176);
    @media (max-width: $tablet) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
    @media (max-width: $mobile) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }
}
// ===================================
.title {
  // .title__label
  &__label {
    display: flex;
    align-items: center;
    gap: rem(16);
    font-weight: $medium;
    font-size: rem(12);
    letter-spacing: em(7.5, 12);
    text-transform: uppercase;
    color: $greyColor;
    @media (max-width: $mobile) {
      font-size: rem(10);
    }
    &::before {
      content: "";
      width: rem(16);
      height: rem(2);
      background-color: #d9d9d9;
    }
    &:not(:last-child) {
      margin-bottom: em(9, 12);
    }
  }
  // .title__value
  &__value {
    font-family: $fontFamilySecondary;
    font-weight: $bold;
    font-size: rem(36);
    line-height: 1.25;
    @media (max-width: $tablet) {
      font-size: rem(32);
    }
    @media (max-width: $mobile) {
      font-size: rem(28);
    }
    span {
      color: $purpleColor;
    }
    // .title__value--big
    &--big {
      font-size: rem(44);
      @media (max-width: $mobile) {
        font-size: rem(38);
      }
    }
  }
}
// ===================================
.category-link {
  display: inline-block;
  padding: rem(4) rem(8);
  border: 1px solid #f1f1f1;
  border-radius: rem(4);
  font-weight: 500;
  font-size: rem(12);
  line-height: 1.25; /* 15/12 */
  color: $greyColor;
  transition: border-color $transition, color $transition,
    box-shadow $transition, background-color $transition;
  &:hover,
  &:focus {
    border-color: $purpleColor;
    color: $whiteColor;
    background-color: $purpleColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}
// ===================================
.text {
  p {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
}
// ===================================
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: rem(32);
  row-gap: rem(5);
  @media (max-width: $mobile) {
    column-gap: rem(24);
  }

  // .social__item
  &__item {
  }
  // .social__link
  &__link {
    font-size: rem(22);
    transition: color $transition;
    &:hover,
    &:focus {
      color: $purpleColor;
    }
  }
}
// ===================================
.date {
  padding: rem(4) rem(8);
  border-radius: rem(4);
  font-weight: $medium;
  font-size: rem(12);
  line-height: 1.25;
  color: $greyColor;
  background-color: $bgColor;
}
