.education {
  // .education__container
  &__container {
  }
  // .education__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(112);
      @media (max-width: $tablet) {
        margin-bottom: rem(60);
      }
      @media (max-width: $tablet) {
        margin-bottom: rem(30);
      }
    }
  }
  // .education__body
  &__body {
    display: grid;
    gap: rem(30);
    @media (min-width: $mobile) {
      grid-template-columns: 1fr 1fr;
    }
  }
  // .education__timeline
  &__timeline {
  }
  // .education__content
  &__content {
  }
}
.timeline {
  display: grid;
  gap: rem(64);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: rem(4);
    left: rem(12);
    width: 1px;
    height: 100%;
    background-color: #f1f1f1;
  }
  @media (max-width: $tablet) {
    gap: rem(40);
  }
  @media (max-width: $mobile) {
    gap: rem(30);
  }
  // .timeline__item
  &__item {
    position: relative;
    padding-left: rem(40);
    &::before {
      content: "";
      position: absolute;
      top: rem(4);
      left: rem(4);
      width: rem(16);
      height: rem(16);
      border-radius: 50%;
      background-color: #f1f1f1;
      z-index: 2;
    }
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        top: rem(4);
        left: rem(12);
        width: 1px;
        height: 100%;
        background-color: #fff;
      }
    }
  }
  // .timeline__title
  &__title {
    font-family: $fontFamilySecondary;
    font-weight: $medium;
    line-height: 1.25; /* 20/16 */
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .timeline__text
  &__text {
    font-size: 14px;
    line-height: 1.2; /* 17/14 */
    color: $greyColor;
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
  // .timeline__date
  &__date {
    font-weight: $medium;
    font-size: 14px;
    line-height: 1.2; /* 17/14 */
  }
}
.content-education {
  // .content-education__text
  &__text {
    &:not(:last-child) {
      margin-bottom: rem(64);
      @media (max-width: $mobile) {
        margin-bottom: rem(30);
      }
    }
  }
  // .content-education__items
  &__items {
    display: grid;
    gap: rem(40);
  }
  // .content-education__item
  &__item {
  }
  // .content-education__label
  &__label {
    font-weight: $medium;
    font-size: rem(14);
    line-height: 1.2; /* 17/14 */
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  // .content-education__line
  &__line {
    height: 8px;
    background-color: $bgPurpleColor;
    border-radius: rem(2);
    position: relative;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $purpleColor;
      border-radius: 2px 0px 0px 2px;
    }
  }
}
_