.footer {
  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(24);
    padding-top: rem(88);
    padding-bottom: rem(88);
    @media (max-width: $tablet) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
    @media (max-width: $mobile) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }
  // .footer__social
  &__social {
    .social__link {
      color: $greyColor;
      @media (any-hover: hover) {
      &:hover {
      color: $purpleColor;
      }
      }
    }
  }
  // .footer__copyright
  &__copyright {
    font-size: rem(14);
    line-height: 1.2; /* 17/14 */
    color: $greyColor;
  }
}
