// Font
$fontFamilyPrimary: "Inter", sans-serif;
$fontFamilySecondary: "Plus Jakarta Sans", sans-serif;
$reg: 400;
$medium: 500;
$bold: 700;
$fontSize: rem(16);

// Main colors
$mainColor: #232e35;
$greyColor: #656d72;
$purpleColor: #7e74f1;
$purpleColorLt: #eae6fe;
$whiteColor: #fff;
$bgColor: #FBFBFB;
$bgPurpleColor: #F5F3FE;


// Width
$minWidth: 320;
$maxWidth: 1440;
// Container
$maxWidthContainer: 1200;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobile-small: em(479.98);

// Responsive(1)/adaptive(2) type
$responsiveType: 1;

$transition: 0.3s ease 0s;
